@{
    ViewData["Title"] = "Home Page";
}

    <div class="container">
        <div class="form-group">
            <input id="term" type="text" class="form-control" placeholder="Введите имя для поиска">
        </div>
        <div class="form-group">
            <table id="data" class="table table-bordered table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>
                            <label>Имя</label>
                        </th>
                        <th>
                            <label>E-Mail</label>
                        </th>
                        <th>
                            <label>Внутренний телефон</label>
                        </th>
                        <th>
                            <label>Мобильный телефон</label>
                        </th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
@section Scripts {
<script>
        
    $(async function () {
        var time = 0;

        $('#term').keyup(async function (e) {
            clearTimeout(time);

            time = window.setTimeout(async function () {
                await searchPhoneBookItems();
            }, 500);
        });

        await getPhoneBookItems('');
    });
</script>
} 
